<%= form_for :provider, html: {class: "contact100-form validate-form", id: "new_provider"} do |f| %>

  <span class='response_message mb-10'></span>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.label :name %>
      <div>
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.label :lowest_price %>
      <div>
        <%= f.number_field :lowest_price, placeholder: "Lowest tariff price" %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.label :rating %>
      <div>
        <%= f.number_field :rating, placeholder: "Rating" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.label :max_speed, 'Max Speed (in MB)' %>
      <div>
        <%= f.number_field :max_speed, placeholder: "Maximum bandwidth" %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.label :description %>
      <div>
        <%= f.text_area :description, placeholder: "Description" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.label :contact_no %>
      <div>
        <%= f.text_field :contact_no, placeholder: "contact_no" %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-6'>
      <%= f.label :email %>
      <div>
        <%= f.text_field :email, placeholder: "Email" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.label :url %>
      <div>
        <%= f.text_field :url, placeholder: "Enter website url" %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-color2" data-dismiss="modal">Cancel</button>
    <%= f.submit "create", class: "btn btn-sm btn-primary", data: { disable_with: false } %>
  </div>

<% end %>
