<%= form_for :provider, html: {:multipart => true, id: "new_provider"} do |f| %>

  <span class='response_message mb-10'></span>

  <div class='row form-group'>
    <div class='col-sm-6'>
      <%= f.label :name %>
      <div>
        <%= f.text_field :name, placeholder: "Name", class: "form-control"  %>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.label :lowest_price %>
      <div>
        <%= f.number_field :lowest_price, placeholder: "Lowest tariff price", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class='row form-group'>
    <div class='col-sm-6'>
      <%= f.label 'Rating (out of 5)' %>
      <div>
        <%= f.number_field :rating, step: 0.5, placeholder: "Rating", class: "form-control" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.label :max_speed, 'Max Speed (in MB)' %>
      <div>
        <%= f.number_field :max_speed, placeholder: "Maximum bandwidth", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class='row form-group'>
    <div class='col-sm-6'>
      <%= f.label :description %>
      <div>
        <%= f.text_area :description, placeholder: "Description", class: "form-control" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.label :contact_no %>
      <div>
        <%= f.text_field :contact_no, placeholder: "contact_no", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class='row form-group'>
    <div class='col-sm-6'>
      <%= f.label :email %>
      <div>
        <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
      </div>
    </div>
    <div class='col-sm-6'>
      <%= f.label :url %>
      <div>
        <%= f.text_field :url, placeholder: "Enter website url", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    <%= f.submit "create", class: "btn btn-primary", data: { disable_with: false } %>
  </div>

<% end %>
